<section class="welcome-page _container">
  <div class="description">
    <h2>Project management system</h2>
    <p>An application that helps an individual in a team or group of
      developers achieve their goals.</p>
    <button mat-raised-button color="primary" routerLink="signin">
      <mat-icon style="margin-right: 5px">login</mat-icon>Sign in
    </button>
  </div>
  <img src="../../assets/img/project management system.png" alt="project management system">
  <img src="../../assets/img/app opportunities.png" alt="app opportunities">
  <div class="app-opportunities">
    <h3>App opportunities</h3>
    <ul>
      <li>Create boards</li>
      <li>Create tasks</li>
      <li>Transfer tasks</li>
      <li>Assign performers</li>
      <li>Check done tasks</li>
      <li>Search by tasks boards or performers</li>
    </ul>
  </div>
  <div class="about-developer">
    <h3>About devoloper</h3>
    <p><span>Stanislav Goloborodov</span> student of the course "UpSkill Me" from The Rolling Scopes community.</p>
  </div>
  <img src="../../assets/img/about developer.png" alt="about developer">
  <div class="about-course">
    <h3>About course</h3>
    <p>This tutorial project was developed as part of the free online course "UpSkill Me" from The Rolling Scopes community.</p>
  </div>
</section>
