<section class="_container">

  <div class="header-tasks-list">
    <h2 class="title">{{board?.title}}</h2>
    <p>Owner: {{board?.owner}} | Users: {{board?.users}}</p>
  </div>

  <button (click)="modalService.open()" class="create-column-btn" mat-fab color="primary"
    aria-label="Example icon button with a delete icon" title="create new column">
    <mat-icon>add</mat-icon>
  </button>

  <button routerLink="../../" mat-fab color="primary" aria-label="Example icon button with a delete icon"
    title="go back">
    <mat-icon>arrow_back</mat-icon>
  </button>

  <div class="column-container" cdkDropList (cdkDropListDropped)="onDrop($event)">
    <mat-card cdkDropList *ngFor="let column of columns let i = index" class="task-card" cdkDrag>

      <h2 class="title-column">{{column.title}}</h2>

      <button class="create-task-btn" mat-mini-fab color="primary" aria-label="Example icon button with a home icon"
        title="create new task">
        <mat-icon>add</mat-icon>
      </button>

      <button class="delete-column-btn" mat-mini-fab color="primary" aria-label="Example icon button with a home icon"
        title="delete this column">
        <mat-icon>delete</mat-icon>
      </button>

      <mat-card-header>
        <mat-card-title>
          <h3 class="title">Title:</h3>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Owner: </p>
      </mat-card-content>

    </mat-card>
  </div>

  <ng-container *ngIf="columns.length === 0">
    <p>No boards available.</p>
  </ng-container>

</section>

<app-modal *ngIf="modalService.isVisible$ | async">
  <app-add-column></app-add-column>
</app-modal>
