<h2>Create new column</h2>
<form [formGroup]="formData" (ngSubmit)="onSubmit()">

  <div>
    <mat-form-field>
      <mat-label>title</mat-label>
      <input matInput formControlName="title" type="title" id="typeTitleX" appFocus>
    </mat-form-field>
  </div>

  <div class="button">
    <button [disabled]="!formData.valid" type="submit" mat-raised-button color="primary">
      <mat-icon style="margin-right: 5px">create</mat-icon>Create
    </button>

    <button (click)="onCancel()" type="button" mat-raised-button color="primary">
      <mat-icon style="margin-right: 5px">cancel</mat-icon>Cancel
    </button>

  </div>
</form>
